                                                            @media only screen and (max-width: 605px) {
                                                                .box1 {
                                                                    margin: auto;
                                                                    width: 80%;
                                                                    padding: 10px;
                                                                }
                                                                .discover_div {
                                                                    padding: 10px;
                                                                }
                                                                .dis {
                                                                    text-align: center;
                                                                    font-size: 170%;
                                                                }
                                                                .dis1 {
                                                                    text-align: justify;
                                                                }
                                                                .shadow__ {
                                                                    margin-bottom: 20px;
                                                                }
                                                                .shadow__1 {
                                                                    position: relative;
                                                                    top: 0px;
                                                                }
                                                                .shadow__2 {
                                                                    position: relative;
                                                                    top: 80px;
                                                                }
                                                                .btn_ {
                                                                    margin-right: 10%;
                                                                }
                                                            }
                                                            
                                                            @media only screen and (max-width: 1005px) {
                                                                .dis {
                                                                    text-align: center;
                                                                    font-size: 160%;
                                                                }
                                                                .shadow__ {
                                                                    margin-bottom: 10px;
                                                                }
                                                                .shadow__1 {
                                                                    position: relative;
                                                                    top: 0px;
                                                                }
                                                                .shadow__2 {
                                                                    position: relative;
                                                                    top: 0px;
                                                                }
                                                            }
                                                            
                                                            .part_1 {
                                                                background-image: url("title.jpg");
                                                                height: 500px;
                                                                background-attachment: fixed;
                                                                background-size: 100% 100%;
                                                            }
                                                            
                                                            .box1 {
                                                                background-image: url("a5.jpg");
                                                                background-size: 100%;
                                                                height: 300px;
                                                            }
                                                            
                                                            .btn-circle.btn-md {
                                                                width: 150px;
                                                                height: 150px;
                                                                padding: 7px 10px;
                                                                border-radius: 100px;
                                                                font-size: 10px;
                                                                text-align: center;
                                                                background: #66ffe0;
                                                            }
                                                            
                                                            .shadow1 {
                                                                margin: 40px;
                                                                background-color: rgb(68, 68, 68);
                                                                /* Needed for IEs */
                                                                -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
                                                                -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
                                                                box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
                                                                filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
                                                                -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
                                                                zoom: 1;
                                                            }
                                                            
                                                            .shadow_ {
                                                                margin: 40px;
                                                            }
                                                            
                                                            .shadow_2 {
                                                                margin-top: -40px;
                                                            }
                                                            
                                                            .shadow_1 {
                                                                -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
                                                                -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
                                                                box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 1);
                                                            }
                                                            
                                                            .box2_1 {
                                                                background-image: url('box22.jpg');
                                                                background-attachment: fixed;
                                                            }
                                                            
                                                            .box_111 {
                                                                background-image: url("a2.jpg");
                                                                height: 300px;
                                                            }